{% url "login" as login%}
{% url "register" as register%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a href="#" class="navbar-brand">Tienda César</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navb">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navb" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item {%if request.path == login %} active {%endif%} ">
        <a href="{{login}}" class="nav-link">
            <span class="fas fa-user">
                
            </span>
            Login</a>
        </li>
        <li class="nav-item {%if request.path == register %} active {%endif%}">
        <a href="{{register}}" class="nav-link">
            <span class="fas fa-user"></span>
            Registro</a>
        </li>
        <li class="nav-item">
        <a href="{{login}}" class="nav-link">
            <span class="fas fa-sign-out-alt"></span>
            Logout</a>
        </li>
    </ul>
    </div>
</nav>
    



